@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    width: 100%;
}

body {
    background: #E5E5E5;
    font-size: 100%;
}

/* mobile */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 40px 32px 20px;
    height: 130px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 0px;
}

#logo {
    width: 70px;
    height: 70px;
}

#searchfield-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13.31px 0px 13.31px 13.31px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;
}

#icon {
    width: 13.37px;
    height: 13.37px;

}

#searchfield {
    display: none;
    visibility: hidden;
    background-color: transparent;
    border: none;
    width: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    margin-top: 170px;
    margin-bottom: 38px;
}

.cards1 {
    display: grid;
    grid-template-columns: 175px 132px;
    grid-template-rows: 132px;
    row-gap: 18px;
    column-gap: 18px;
    align-items: center;
}

.cards2 {
    display: grid;
    grid-template-columns: 132px 175px;
    grid-template-rows: 132px;
    row-gap: 18px;
    column-gap: 18px;
}

.imagem-menor {
    width: 106.09px;
    height: 106.09px;
}

.imagem-maior {
    width: 149.19px;
    height: 149.19px;
}

#card-tablito {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    place-self: center;
    padding: 13.26px;
    width: 175.71px;
    height: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

#card-brigadeiro {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    place-self: center;
    padding: 13.26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    top: 0;
    bottom: 0;
}

#card-azul {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    place-self: center;
    padding: 13.26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    top: 0;
    bottom: 0;
}

#card-chicabon {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    place-self: center;
    padding: 13.26px;
    width: 175.71px;
    height: 283px;
    order: 3;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

#card-morango {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    order: 1;
    place-self: center;
    padding: 13.26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    top: 0;
    bottom: 0;
}

#card-minion {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    order: 2;
    place-self: center;
    padding: 13.26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    top: 0;
    bottom: 0;
}

.nome-sorvete {
    width: 150px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #292929;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.detalhe-sorvete {
    width: 149.19px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8.84068px;
    line-height: 11px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #606060;
}

.preco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 2;
    width: 57.84px;
    height: 24.84px;
    background: rgba(249, 199, 191, 0.5);
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13.26px;
    line-height: 11px;
    color: #606060;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 128px;
    background: #F2F2F2;
    padding: 32px 51.2px;
}

#logo-menor {
    display: none;
    visibility: hidden;
}

#footer-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #292929;
    bottom: 32 px;

}

#social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

@media only screen and (min-width: 1260px) {

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        padding: 40px 114px 40px 114px;
        height: 199px;
    }
    
    #logo {
        width: 120px;
        height: 119px;
    }
    
    #searchfield-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        padding: 8px 16px 8px 16px;
        width: 450px;
        height: 61px;
        background: #FFFFFF;
        border: 0.5px solid rgba(96, 96, 96, 0.3);
        border-radius: 8px;
    }
    
    #icon {
        width: 20px;
        height: 20px;
    
    }
    
    #searchfield {
        display: inline;
        visibility: visible;
        background-color: transparent;
        border: none;
        width: 300px;
        height: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 280px;
        margin-bottom: 233px;
    }

    .cards1 {
        display: grid;
        grid-template-columns: 318px 240px;
        grid-template-rows: 240px;
        row-gap: 32px;
        column-gap: 32px;
        align-items: center;
    }
    
    .cards2 {
        display: grid;
        grid-template-columns: 318px 240px;
        grid-template-rows: 240px;
        row-gap: 32px;
        column-gap: 32px;
    }

    .imagem-menor {
        width: 192px;
        height: 192px;
    }
    
    .imagem-maior {
        width: 270px;
        height: 270px;
    }
    

    #card-tablito {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        place-self: center;
        padding: 24px;
        width: 318px;
        height: 512px;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    #card-brigadeiro {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        place-self: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
        top: 0;
        bottom: 0;
        width: 240px;
        height: 240px;
        padding: 24px;
    }
    
    #card-azul {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        place-self: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
        top: 0;
        bottom: 0;
        width: 240px;
        height: 240px;
        padding: 24px;
    }
    
    #card-chicabon {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        place-self: center;
        padding: 24px;
        width: 318px;
        height: 512px;
        order: 3;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }
    
    #card-morango {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        order: 1;
        place-self: center;
        width: 240px;
        height: 240px;
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
        top: 0;
        bottom: 0;
    }
    
    #card-minion {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        order: 2;
        place-self: center;
        width: 240px;
        height: 240px;
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
        top: 0;
        bottom: 0;
    }

    .nome-sorvete {
        width: 270px;
        height: 39px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
    }

    .detalhe-sorvete {
        width: 270px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .preco {
        width: 105px;
        height: 45px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: static;
        bottom: 0px;
        left: 0%;
        right: 0%;
        height: 155px;
        background: #F2F2F2;
        padding: 48px 114px;
    }
    
    #logo-menor {
        display: flex;
        visibility: visible;
        width: 60px;
        height: 59.02px;

    }
    
    #footer-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #292929;
        bottom: 32 px;
    
    }
    
    #social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .logo-social-media{
        width: 35px;
        height: 35px;
    }
}